# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store

# Node
node_modules/
frontend/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
